@use '../../scss/colors';

.login-page {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 500;
    
    .auth-form{
        min-width: 22rem;
        max-width: 22rem;
        background: colors.$transperant-black;
        padding: 3.75rem 4.25rem;
        height: 100%;

        .form-header {
            width: 100%;
            color: colors.$white;
            font-size: 1.8rem;
            text-align: left;
            margin-bottom: 1rem;
        }

        .form-body {
            .auth-helper {
                display: flex;
                font-size: 0.8rem;
                color: colors.$gray;
                padding-top: 0.6rem;
                cursor: pointer;

                .need-help {
                    margin-left: auto;
                }
            }
            .auth-options {
                padding-top: 3rem;
                color: colors.$text-gray;
                
                .sign-up-option {
                    font-size: 1rem;
                    font-weight: 400;
                    
                    span {
                        cursor: pointer;
                        color: colors.$white;
                    }
                }
                .auth-note {
                    padding-top: 0.3rem;
                    font-size: 13px;
                    
                    span {
                        cursor: pointer;
                        color: colors.$link-blue;
                    }
                }
            }
            .auth-error {
                font-size: 0.8rem;
                color: colors.$primary;
                // line-height: 2rem;
                // min-height: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .login-page {
        min-height: unset;
        .auth-form {
            padding: 0.8rem;
            width: 100%;
            min-width: unset;
            max-width: unset;
        }
    }
}