@use '../../scss/colors';

.top-banner {
    background: colors.$black;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: -1;

    img {
        min-width: 100%;
        filter: brightness(50%);
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
.top-banner {
        img {
            display: none;
        }
    }
}