@use '../../scss/colors';

.video-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0rem;
    padding: 0 8rem;
    color: colors.$white;
    width: 40%;
    height: 100vh;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
    p {
        font-size: 0.82rem;
        line-height: 1.2rem;
    }

    &-btn-grp {
        width: 100%;
        display: flex;
        gap: 0.8rem;
    }
}

@media only screen and (max-width: 1320px) {
    p {
        display: none;
    }

        .video-title {
            // width: 80%;
            height: unset;
            padding: 4rem 8rem;
        }
}
@media only screen and (max-width: 720px) {
    .video-title {
        width: 80%;
        height: unset;
        padding: 2.8rem 0.8rem;
    }
}
