.header {
    display: flex;
    align-items: center;
    padding: 0.5rem 7.2rem;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(
        0deg,
        rgb(2 0 36 / 0%) -15%,
        rgb(0 0 0 / 19%) 100%
    );
    position: fixed;
    z-index: 1;

    .brand-icon {
        img {
            width: 9rem;
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        .user-info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 1rem;

            img {
                width: 1.8rem;
                border-radius: 50%;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .header {
        padding: 0.3rem;
        .brand-icon {
            img {
                width: 7rem;
            }
        }
    }
}
